::-webkit-scrollbar-track {
    background: #f2f2f2;
}
::-webkit-scrollbar-thumb {
    background: #c2c2c2;
}
::-webkit-scrollbar {
    width: 7px;
}
body{
    font-family: 'Play', sans-serif;
}
#chat-result {
    min-height: 250px;
    max-height: 250px;
    overflow-y: auto;
    margin: 5px;
}
.chat-block {
    padding: 5px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.chat-message{
    display: inline-flex;
    margin: 1px 0;
    padding: 5px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #f9f9f9;
    color: rgba(0,0,0,.5);
}